.page_title {

    margin-left: 1em;
}

img {
    opacity: 0.7;
    transition: all 0.7s ease;
}

#logo {
    width: 20%;
    height: 20%;
}

.police_color {
    color: #ff6600;
}

.page:hover img {
    opacity: 1
}

.page:hover .reward {
    opacity: 0;
}

.page:hover #gandalf {
    position: absolute;
    color: white;
    margin-left: 5em;
    top: 70%;
    font-size: 140%;
}

.page:hover #yummyDwarf {
    position: absolute;
    color: white;
    margin-left: 5em;
    top: 70%;
    font-size: 140%;
}

.reward {
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    font-family: arial;
    font-weight: lighter;
    font-size: 200%;
    line-height: 1.4;
    width: 96%;
    position: absolute;
    text-align: center;
    margin-left:2%;
    top: 0.5em;
    padding-top: 0.1em;
    padding-bottom: 0.1em;
}

#gandalf, #yummyDwarf {
    position: absolute;
    color: white;
    margin-left: 2.7em;
    top: 6.4em;
    font-size: 200%;
}

#hobbit {
    color: black;
    position: absolute;
    margin-left: 20%;
    top: 1.1em;
    font-size: 400%;
}

.col-text {
    margin-left: 15%;
    width: 60%;
    text-align: center;
    font-size: 2%;
    color: white;
    background-color: #343a40;
    border-radius: 10px;
}

.col-text1 {
    margin-left: 15%;
    width: 70%;
    text-align: center;
    font-size: 2em;
    border-radius: 10px;20px;
}

#medias {
    display: inline;
    margin-left: 25em;
}

.contact-us-reward {
    color: black;
    padding: 5px;
    background-color: #f8f9fa;
    box-shadow: 3px 3px  #f8f9fa;
    text-decoration: none;
}
.contact-us {
    color: black;
}

.contact-us:hover {
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-right: 5px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s al
}

.btn {
    background-color: #f8f9fa;
    color: black;
    border: none;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.5);""
}

#myBtn7 {

}

#myBtn7:hover {
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-right: 5px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s al
}

/* Footer */

section {
    padding: 40px 0;
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

.myclass {
    color: red;
}

#footer {
    background: #f8f9fa!important;
    height: 25em;
}

#footer h5 {
    padding-left: 10px;
    border-left: 3px solid #eeeeee;
    padding-bottom: 6px;
    margin-bottom: 20px;
    color: black;
}

#footer a {
    color: black;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li {
    padding: 3px 0;
}

#footer ul.social li a i {
    margin-right: 5px;
    font-size: 25px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.social li:hover a i {
    font-size: 30px;
    margin-top: -10px;
}

#footer ul.social li a,
#footer ul.quick-links li a {
    color: black;
}

#footer ul.social li a:hover {
    color: black;
}

#footer ul.quick-links li {
    padding: 3px 0;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s all ease;
}

#footer ul.quick-links li:hover {
    padding: 3px 0;
    margin-left: 5px;
    font-weight: 700;
}

#footer ul.quick-links li a i {
    margin-right: 5px;
}

#footer ul.quick-links li:hover a i {
    font-weight: 700;
}
.send:hover {
    text-decoration: none;
    color: black;
    font-weight: 700;
    margin-right: 5px;
    -webkit-transition: .5s all ease;
    -moz-transition: .5s all ease;
    transition: .5s al
}

.back-to-top {
  color: black;
  cursor: pointer;
  position: fixed;
  bottom: 20px;
  right: 20px;
}

@media (max-width: 767px) {
    #footer h5 {
        padding-left: 0;
        border-left: transparent;
        padding-bottom: 0px;
        margin-bottom: 10px;
    }
}
#nav {
    background-color: gray;
    opacity: 0.7;
}

